#dish1{
	height:100px; 
	width:100px;
}

#dish2{
	height:100px; 
	width:100px;
}
#dish3{
	height:100px;
	width:100px;
}
#dish4{
	height:100px;
	width:100px;
}
#dish5{
	height:100px; 
	width:100px;
}
#dish6{
	height:100px; 
	width:100px;
}

#side1{
	height:100px; 
	width:100px;
}
#side2{
	height:100px; 
	width:100px;
}
#side3{
	height:100px; 
	width:100px;
}
#side4{
	height:100px; 
	width:100px;
}
#side5{
	height:100px;
	width:100px;
}