#dish1{
	height: 
	width:;
}

#dish2{
	height: 
	width:;
}
#dish3{
	height: 
	width:;
}
#dish4{
	height: 
	width:;
}
#dish5{
	height:; 
	width:;
}
#dish6{
	height:; 
	width:;
}

#side1{
	height: ; 
	width:;
}
#side2{
	height:; 
	width:;
}
#side3{
	height:; 
	width:;
}
#side4{
	height: 
	width:;
}
#side5{
	height:
	width:;
}